<mat-list *ngIf="currentProfile" class="profile-card-stack">

    <mat-card>
        
        <div class="profile-form-container">
            <input matInput [(ngModel)]="currentProfile.id" name="id">
            <input matInput [(ngModel)]="currentProfile.UserID" name="UserID">

            <mat-form-field>
                <input matInput placeholder="Email" [(ngModel)]="currentProfile.Email" name="Email">
            </mat-form-field>
            
            <mat-form-field>
                <input matInput placeholder="Display Name" [(ngModel)]="currentProfile.DisplayName" name="DisplayName">
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="First Name" [(ngModel)]="currentProfile.FirstName" name="FirstName">
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Middle Name" [(ngModel)]="currentProfile.MiddleName" name="MiddleName">
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Last Name" [(ngModel)]="currentProfile.LastName" name="LastName">
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Photo URL" [(ngModel)]="currentProfile.PhotoUrl" name="PhotoUrl">
            </mat-form-field>

            <mat-form-field>
                <textarea matInput placeholder="Notes" [(ngModel)]="currentProfile.Notes" name="Notes"></textarea>
            </mat-form-field>
            
            <mat-form-field>
                <mat-select placeholder="Select" [(ngModel)]="currentProfile.SpecialAccess" name="SpecialAccess">
                    <mat-option value="false">No</mat-option>
                    <mat-option value="true">Yes</mat-option>
                </mat-select>
            </mat-form-field>

        </div>

    </mat-card>

    <mat-card>
        <button mat-button (click)="saveProfile($event)">Save</button>
    </mat-card>
    <mat-card>
        <app-image-cropper [croppedImage]="currentProfile.PhotoUrl" (croppedCallbackEvent)="imageCallback($event)"></app-image-cropper>
    </mat-card>
</mat-list>
